.DS_Store
node_modules/
*.log
haters/
.idea/
01-JavaScriptDrumKit/index-FINISHED.html
.gitignore
03-CSSVariables/index-FINISHED.html
02-JSandCSSClock/index-FINISHED.html
04-ArrayCardioDay1/index-FINISHED.html
05-FlexPanelGallery/index-FINISHED.html
06-TypeAhead/index-FINISHED.html
08-FunwithHTML5Canvas/index-FINISHED.html
09-DevToolsDomination/index-FINISHED.html
10-HoldShiftandCheckCheckboxes/index-FINISHED.html
12-KeySequenceDetection/index-FINISHED.html
13-SlideinOnScroll/index-FINISHED.html
14-JavaScriptReferencesVSCopying/index-FINISHED.html
15-LocalStorage/index-FINISHED.html
16-MouseMoveShadow/index-FINISHED.html
17-SortWithoutArticles/index-FINISHED.html
18-AddingUpTimeswithReduce/index-FINISHED.html
20-SpeechDetection/index-FINISHED.html
30-WhackAMole/index-FINISHED.html
29-CountdownTimer/scripts-FINISHED.js
28-VideoSpeedController/index-FINISHED.html
27-ClickandDrag/index-FINISHED.html
26-StripeFollowAlongNav/index-FINISHED.html
25-EventCapturePropagationBubblingandOnce/index-FINISHED.html
24-StickyNav/style-FINISHED.css
24-StickyNav/index-FINISHED.html
23-SpeechSynthesis/index-FINISHED.html
22-FollowAlongLinkHighlighter/index-FINISHED.html
21-Geolocation/index-FINISHED.html
19-WebcamFun/scripts-FINISHED.js
11-CustomVideoPlayer/scripts-FINISHED.js
07-ArrayCardioDay2/index-FINISHED.html
